{% extends 'base.html' %}

{% block contents %}
  {% if not owner %}no owner{% endif %}
  <h1>{{ owner.profile.first_name }} {{ owner.profile.last_name }} {{ resume.title }}</h1>
  <hr />
  {{ resume.summary|safe }}
  <h2>Experience</h2>
  <table id='job-list'
  {% for job in resume.jobs.all %}
    <tr><td><img src="{{ job.company.icon }}" class="company-icon"/></td><td>
    <h3>{{ job.title }}</h3>
    <h4>{{ job.company.name }}</h4>
    <h5>
      {{ job.start_date|date:'M' }} {{ job.start_date|date:'Y' }}
      -
      {{ job.end_date|date:'M' }} {{ job.end_date|date:'Y' }}
    </h5>
    {{ job.description|safe }}
  </td><tr>
  {% endfor %}
  </table>
{% endblock %}
